#person-area{
    text-align: center;
}

.person img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid red;
}

.person-title h3 {
    font-size: 30px;
    line-height: 1.2;
    color: #d61c22;
}

.person-title h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.9;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.person-title p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.9;
    color: #666666;
}

.person{
    padding: 80px 250px;
}

.star{
    color: red;
}

.name{
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 15px !important;
}


@media(max-width:768px){
    .person{
        width: 100%;
        padding: 0;
    }
}