#contact{
    padding: 100px 0;
    background-color: rgb(233, 232, 232);
}

.contact-us{
    display: flex;
    justify-content: center;
    align-items: center ;
}

.contact-title{
    display: flex;
    gap: 30px;
}

.contact-title button{
    color: white;
    background-color: black;
    border: none;
    border-radius: 8px;
    padding: 5px 30px;
    text-transform: uppercase;
}

.contact-title input{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgb(184, 181, 181);
}

@media(max-width:768px){
    .contact-title{
        display: flex;
        flex-wrap: wrap;
    }
}