.products {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.sort {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sort button {
    background-color: red;
    border: none;
    margin-left: 20px;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
}

.sort input{
    padding: 5px 10px;
}

@media(max-width:768px){
    .sortby{
        margin-top: 20px;
    }
}