.container{
   display: flex;
   flex-direction: column;
}

.navlist{
    display: flex;
    justify-content: center;
    gap: 15px;
    color:inherit;
    text-decoration: none;
}

.nav-item{
    text-decoration: none;
    list-style: none;
}